.itemWrapper {
	display: flex;
	justify-content: space-between;
	margin-left: 2em;

	padding: 1em;
	border: 2px solid #0000002a;
	border-radius: 20px;

	a:not(a:hover) {
		color: unset;
	}
}

.itemContainer {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.trackContainer {
	display: flex;
	gap: 0.5em;
}

.misc {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.timeLabel {
	font-size: 0.8em;
}
