.pvWrapper {
	display: flex;
	flex-direction: column;
	padding: 1em;
	gap: 1em;
}

.userContainer {
	display: flex;
	align-items: center;
	gap: 1em;
	img {
		width: 50px;
		aspect-ratio: 1;
		border-radius: 50%;
	}

	font-size: 1.25em;
	font-weight: bold;

	a:not(a:hover) {
		color: unset;
	}
}
